/* Homepage */

html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    font-family: "Courier New", Verdana, sans-serif;
}

.headline {
    text-align: center;
    color: white;
    background-color: black;
}

.doner,
.pizza,
.bolognese {
    display: inline-block;
    padding: 3px;
    
    font-size: 22px;
    font-weight: bold;
    text-align: center;

}

.donerimg,
.pizzaimg,
.bologneseimg {
    display: inline-block;
    width: 400px;
    margin-top: 80px;

}

.doner {
    width: 152px;
    position: absolute;
    left: 25%;
    transform: translateX(-75%);
    color: rgb(50, 19, 19);
    background-color: bisque;
}

.donerimg {
    display: inline-block;
    position: absolute;
    left: 25%;
    transform: translateX(-75%);
}

.pizza {
    width: 218px;
    /* margin-left: 595.5px; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* margin-right: 748.5px; */
    color: green;
    background-color: rgba(215, 65, 65, 0.554);
}

.pizzaimg {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.bolognese {
    width: 257px;
    position: absolute;
    left: 75%;
    transform: translateX(-25%);
    color: red;
    background-color: blanchedalmond;
}

.bologneseimg {
    display: inline-block;
    position: absolute;
    left: 75%;
    transform: translateX(-25%);
}

/* recipe pages */

.home {
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 20px;
    letter-spacing: 0.15rem;
    text-shadow: -4px 4px #ef3550,
                 -8px 8px #f48fb1,
                 -12px 12px #7e57c2,
                 -16px 16px #2196f3,
                 -20px 20px #26c6da,
                 -24px 24px #43a047;

    font-size: 30px;
}

.header {
    margin-top: 40px;
    color: white;
    background-color: black;
}

.desc {
    color: red;
    background-color: rgb(173, 255, 47, 0.7);
}

.para {
    font-size: 20px;
    background-color: aliceblue;
}

.ingr {
    color: red;
}

.list {
    font-size: 20px;
}

.steps {
    color: blueviolet;
    background-color: rgb(0, 255, 255, 0.2);
}